<h4>Clam Bake</h4>

<form action="/scan" method="POST">
url: <input type="text" name="url" size=185 /><br />
retry: <input type="text" name="retry" size=2 />
<input type="submit" value="submit" />
</form>
